body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.card h2 {
    margin-bottom: 10px;
    color: #333;
}

.card p {
    margin-bottom: 20px;
    color: #666;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    text-align: left;
    font-weight: 600;
    color: #202224;
}

.password-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.password-label label {
    margin: 0;
}

.forgot-password {
    font-size: 13px;
    color: #666;
    text-decoration: underline; 
    transition: all 0.2s ease;
}

.forgot-password:hover {
    color: #333;
    font-size: 14px;
}

input[type="email"],
input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.error {
    color: red;
    font-size: 13px;
    text-align: left;
}

.options {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: #202224;
}

button[type="submit"] {
    padding: 10px;
    background-color: #1C3661;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    width: 80%;
    display: block; 
    margin: 10px auto;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

.link {
    margin-top: 20px;
    font-size: 14px;
    color: #333;
}

.link a {
    color: #007BFF;
    text-decoration: underline;
    font-weight: bold;
}
